@model IEnumerable<URC_final.Models.Opportunity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssociatedImag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentMentor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredSkills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchTags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppliedStudents)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssociatedImag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentMentor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredSkills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchTags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppliedStudents)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OpportunityID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OpportunityID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OpportunityID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
